
body {
  margin: 0;
  font-family: Arial, sans-serif;
  display: flex;
}


.sidebar {
  width: 220px;
  background-color: #111;
  height: 100vh;
  padding-top: 20px;
  transition: 0.3s;
  position: fixed;
  overflow: hidden;
}


.sidebar.collapsed {
  width: 60px;
}


.sidebar .toggle-btn {
  background-color: #111;
  color: white;
  border: none;
  padding: 10px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
  text-align: left;
}


.sidebar a {
  display: block;
  color: white;
  padding: 15px;
  text-decoration: none;
  transition: 0.3s;
  white-space: nowrap;
}


.sidebar.collapsed a {
  opacity: 0;
  pointer-events: none;
}


.content {
  margin-left: 220px;
  padding: 20px;
  transition: 0.3s;
  flex: 1;
}


.content.expanded {
  margin-left: 60px;
}


.sidebar a.active {
  background-color: #04AA6D;
}


.sidebar a:hover:not(.active) {
  background-color: #444;
}


@media screen and (max-width: 700px) {
  .sidebar {
    width: 100%;
    height: auto;
    position: relative;
  }

  .sidebar a {
    float: left;
  }

  .content {
    margin-left: 0;
  }
}

@media screen and (max-width: 400px) {
  .sidebar a {
    text-align: center;
    float: none;
  }
}
img {
  display: block;
  margin: 0 auto;
  max-width: 800px; /* or whatever max width you want */
  width: 100%; /* make image responsive */
  height: auto;
}