/*the main header text for all pages */
.header {
  padding: 60px;
  text-align: center;
  color: white;
  font-size: 30px;

}
/* Background image and layout for the home page */
.index-header {
  background-image: url('images/black.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
}

/* Background image and layout for the type of pollution page */
.types-header{
  background-image: url('images/plastic.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
}

/* Background image and layout for the pollution facts page */
.Facts-header{
  background-image: url('images/smart2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;

}
/* Background image and layout for the reducing pollution page */
.Reduce-header{
  background-image: url('images/sand.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
}
/* Background image and layout for the contact page */
.contact-header{
  background-image: url('images/solid.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 60px 20px;
  box-sizing: border-box;
  color: white;
}




.index-header h1,
.index-header h2,
.index-header p {
  margin-top: 0;
  margin-bottom: 0;

}

.navbar {
  padding: 14px 20px;
 background-color: #228B22;
 overflow: hidden;
 display: flex;
 gap : 30px;
}

.navbar a {
  float: left;
  display: block;
  color: white;
  text-decoration: none;
   padding: 10px 15px;

}
/* Navbar hover effects*/
.navbar a:hover {
  color:#000;
  background-color:#006400;
  padding: 10px 18px
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.Pollution-content {
  text-align: center;
  margin-bottom: 0px;


}

.Pollution-content h2 {
  margin-bottom: 20px;
}


.Pollution-types  {
  text-align: center;
  padding: 20px;
  color: white;
}

.Pollution-facts {
   text-align: center;
   padding: 20px;
}

.Pollution-reduce {
  text-align: center;
}

p1{
    display: block;
    font-size: 160%;
    margin-bottom: 20px;

}

p{
    display: block;
    font-size: 130%;
    margin-bottom: 20px;

}

h1{
display: block;
margin-bottom: 80px;
}

/* Transparent background box for text to make it easier to read */
.text-border {
  border: 2px solid rgba(255, 255, 255, 0.6);
  background-color: rgba(0, 0, 0, 0.5);
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

/*
@media (max-width: 550px) {
  .navbar a {
    flex: 1 1 100%;
    text-align: center;
  }
  }


/* video container styling for centring my video */
.video {
display: block;
display: flex;
justify-content: center;
 align-items: center;
 margin:auto;
 flex-wrap: wrap;
padding: 30px;
}